@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow__btn {
    padding: 10px 10px;
    border: none;
    font-size: 14px;
    border-radius: 20px;
    word-spacing: 4px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    height: fit-content;
    background: #1b1b1b;
    color: #c4c4c4;
    cursor: pointer;
    /* width: max-content; */
}

.shadow__btn:hover,
.shadow__btn.active {
    background: linear-gradient(93deg, #d805ff, #4101bffa);
    color: #fff;
    box-shadow: 0 0 5px #d805ff,
        0 0 25px #d805ff,
        0 0 50px #4101bffa,
        0 0 100px #4101bffa;
}

@media screen and (max-width:768px) {
    .shadow__btn{
        font-size: 10px;
    }
}

.gradient_btn {
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    border-radius: 20px;
    word-spacing: 4px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    height: fit-content;
    background: linear-gradient(93deg, #d805ff, #4101bffa);
    color: #fff;
    width: max-content;
}

.red_shadow:hover {
    transition: all .5s;
    box-shadow: 0 0 5px #ff0526,
        0 0 25px #f05e63,
        0 0 50px #bf011dfa,
        0 0 100px #ff0008fa;
}

.blue_shadow_1:hover {
    transition: all .5s;
    box-shadow: 0 0 5px #004ec2, 0 0 25px #0582ff, 0 0 50px #0760ddfa, 0 0 100px #3bc5e9;
}

.blue_shadow_2:hover {
    transition: all .5s;
    box-shadow: 0 0 5px #3b70f4,
        0 0 25px #0582ff,
        0 0 50px #0760ddfa,
        0 0 100px #3b84eafa;
}
.blue_shadow_3:hover {
    transition: all .5s;
    box-shadow: 0 0 5px #0860fe, 0 0 25px #3191cd, 0 0 50px #195281, 0 0 100px #3eb5ff;
}