@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow__btn {
    padding: 10px 10px;
    border: none;
    font-size: 14px;
    border-radius: 20px;
    word-spacing: 4px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    height: fit-content;
    background: #1b1b1b;
    color: #c4c4c4;
}

.shadow__btn:hover , .shadow__btn.active {
    background: linear-gradient(93deg, #d805ff, #4101bffa);
    color: #fff;
    box-shadow: 0 0 5px #d805ff,
                0 0 25px #d805ff,
                0 0 50px #4101bffa,
                0 0 100px #4101bffa;
}

.gradient_btn{
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    border-radius: 20px;
    word-spacing: 4px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    height: fit-content;
    background: linear-gradient(93deg, #d805ff, #4101bffa);
    color: #fff;
    width: max-content;
}